<div class="sidebar">

    <div class="logo">

        <h2>🏥 Clínica Admin</h2>

    </div>

    <ul>

        <li routerLink="/dashboard">

            📊 Dashboard

        </li>

        <li routerLink="/pacientes">

            👤 Pacientes

        </li>

        <li routerLink="/medicos">

            👨‍⚕️ Médicos

        </li>

        <li routerLink="/historias-clinicas">

            📋 Historias Clínicas

        </li>

        <li routerLink="/citas">

            📅 Citas

        </li>

        <li routerLink="/usuarios">

            👥 Usuarios

        </li>

        <li routerLink="/login">

            🚪 Cerrar sesión

        </li>

    </ul>

</div>